<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cos30043/s102584470/vic-transport/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /cos30043/s102584470/vic-transport/index.html [L]
</IfModule>